*{
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
}

body{background-color: aqua;
    font-size: 12;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.position{
    display: flex;
    justify-content: center;
}
.position{
    display: flex;
    justify-content: center;
}
.position{
    display: flex;
    justify-content: center;
}
